<h1>Signup!</h1>

<% if @user.errors.full_messages.any? %>
          <div class="alert alert-danger">
            <strong>The following errors prevented saving:</strong>
            <ul>
              <% @user.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
<% end %>

<%= form_for :user, url: '/users' do |f| %>
  <label>Name</label>
  <div class="form-group">
    <%= f.text_field :name %>
  </div>
  <label>Last name</label>
  <div class="form-group">
    <%= f.text_field :last_name %>
  </div>
  <label>Email</label>
  <div class="form-group">
    <%= f.text_field :email %>
  </div>
  <label>Password</label>
  <div class="form-group">
    <%= f.password_field :password %>
  </div>
  <label>Password Confirmation</label>
  <div class="form-group">
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit "Register", class: 'btn btn-primary' %>

<% end %>